html,body,.ui-widget,th,td,p,span,button,input,select,textarea {
    font-size: 12px;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

body {
    margin: 0;
}

table.display {
    margin: auto 0;
    margin-right: auto;
    margin-left: 0px;
    width: fit-content;
}

#object_list {
    width: auto;
}

.noWrapLabel {
    white-space: nowrap;
}

/* Clear floats after the columns */
.summaryContainer: after {
  content: "";
  display: inline-block;
  clear: both;
}

/* Responsive layout - makes the Summary columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .summaryColumn {
    width: 100%;
  }
}

/* Create horizontal equal columns that floats next to each other */
.summaryColumn {
  float: left;
  padding: 5px;
}

.reportSection {
    padding: 5px;
    margin: 10px;
}

code {
  font-family: "Consolas", "Ubuntu Mono", Menlo, monospace;
  border: 1px solid #E3E3FF;
  border-radius: 3px;
  padding: 0 4px 0 4px;
  margin: 0 2px 0 2px;
  font-size: 90%;
}

pre {
  font-family: "Consolas", "Ubuntu Mono", Menlo, monospace;
  font-size: 90%;
}

.simpleTable {
    border-collapse: collapse;
}

.simpleTable td, .simpleTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.simpleTable th {
        font-weight: bold;
}
.simpleTable tr:nth-child(even){
    background-color: #f2f2f2;
}

.simpleTable tr:hover {
    background-color: #ddd;
}

img {
    vertical-align: middle;
}

.shellLibNameImage {
    width: 20px;
    height: 20px;
}

.shellLibNameMargin {
    margin-left: 3px;
    white-space: pre;
}

.tableWrapperFitContents {
  width: fit-content;
}


/* Tree View  Classes */
ul.tree, ul.tree ul {
    list-style: none;
     margin: 0;
     padding: 0;
   }
   
   ul.tree ul {
     margin-left: 25px;
   }
   
   ul.tree li {
     margin: 0;
     padding: 0 7px;
     line-height: 30px;
     color: #369;
     border-left: 1px solid rgb(100, 100, 100);

   }
   
   ul.tree li:last-child {
       border-left: none;
       margin-top: -1px;
   }
   
   ul.tree li::before {
      position: relative;
      top: -0.4em;
      height: 1em;
      width: 12px;
      color: white;
      border-bottom: 1px solid rgb(100, 100, 100);
      content: "";
      display: inline-block;
      left: -7px;
   }
   
   ul.tree li:last-child::before {
      border-left: 1px solid rgb(100, 100, 100);
   }

/* Images Sprite Icons to corresponding  Object Type */
.icon {
  display: inline-block;
  line-height: 30px;
  padding-left: 30px;  
}

.icon.connection {
  background: url("icons/connections.svg") no-repeat scroll 0 0 transparent;
  background-size: 20px 20px;
  
}

.icon.guide {
  background: url("icons/guide.svg") no-repeat scroll 0 0 transparent;
  background-size: 20px 20px;
}

.icon.processObject {
  background: url("icons/processobject-x22.png") no-repeat scroll 0 0 transparent;
  background-size: 20px 20px;
}

.icon.connector {
  background: url("icons/service_connector.svg") no-repeat scroll 0 0 transparent;
  background-size: 20px 20px;
}

.icon.taskflow {
  background: url("icons/taskflow.svg") no-repeat scroll 0 0 transparent;
  background-size: 20px 20px;
}

.icon.process {
  background: url("icons/process.svg") no-repeat scroll 0 0 transparent;
  background-size: 20px 20px;
}


/* Header and  Menu Styles */


.indexHeader {
    height: 50px;
    background-color: #000;
    overflow-y: visible;
    padding: 0 5px;
}

.hamburgerMenu {
    padding: 10px 5px 5px 5px;
    cursor: pointer;
}

.indexHeaderLeft, .indexHeaderMenus {
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.indexHeaderMenus {
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.indexHeaderRight {
    float: right;
}

.indexHeaderLeft, .indexHeaderSearch, .indexHeaderOrg, .indexHeaderMenus, .indexHeaderMenus>div {
    float: left;
}

.infaButton-dark.infaButton-toolbar-icon svg, .infaButton-dark.infaButton-toolbar-icon.infaButton.infaButton-toolbar-icon-anim svg {
    fill: #848484;
}

.indexHeaderImage {
    width: 123px;
    height: 30px;
    vertical-align: middle;
}

.indexHeaderMenus>div {
    padding-left: 7px;
}

.infaButton {
    display: inline-block;
    position: relative;
    padding: 0;
    text-align: center;
    font-size: 15px;
    cursor: default;
}

.infaButton-interior {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.infaButton.infaButton-dark.infaButton-1 {
    background: transparent;
}

.infaButton.infaButton-dark {
    border: 1px solid transparent;
}

.infaButton-1 {
    background: #ddd;
    border: 1px solid #9C9C9C;
    border-radius: 2px;
    color: black;
    line-height: 1;
    min-height: 2em;
    padding: 0 1em;
}

.infaButton-toolbar-icon.infaButton-state-toggle {
    background: #D6EBFC;
    border: 1px solid #39f;
}

.infaButton.infaButton-dark.infaButton-toolbar-icon {
    background: transparent;
    border-radius: 30px;
    color: #848484;
    padding: 6px;
    margin-left: -3px;
}

.infaButton.infaButton-dark:hover, .infaButton.infaButton-dark.infaButton-state-hover, .infaButton.infaButton-dark.infaButton-state-toggle, .infaButton.infaButton-dark.keyboard-focus {
    background: transparent !important;
    color: #39f;
}

.hamburgerMenu>span.hamburgerMenuImg svg path {
  fill: #39f;
}

.breadCrumbs {
  padding-left: 2px;
  color: #9C9C9C;
  font-size: 14px;
}

.breadCrumbs>a {
  color: whitesmoke;
  text-decoration:none !important;
}

.breadCrumbs>a:link {
  color: whitesmoke;
}

.breadCrumbs>a:visited {
  color: whitesmoke;
}

.breadCrumbs>a:hover {
  color:#39f; 
}

.breadCrumbs> a:active {
  color:chocolate;
}


